<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
  <h1> n° <%= params['id'] %> : </h1>
  <p>
      <%= gossips.author %><br/>
      <%= gossips.content %>
      <a href="<%='id'%>/edit">Editer le potin</a>
</body>
</html>